.productDetails{
  background-color: #14181c ;
}

.product-details {
  padding-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details-info h1 {
  color: #ffffff;
}
.product-details-info h6 {
  color: #ffffff !important;
  margin-bottom: 20px !important;
}

.similar-products h4 {
  color: #ffffff !important;
}
.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.btn-secondary{
  background-color: #39ff14;
  color: black;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}
.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgba(221, 207, 207, 0.649);
}

.similar-products .card img:hover {
  transform: scale(1.02);
}

.similar-products .card-img-top {
  height: 300px !important;
}

.btn-more{
  background-color: #39ff14;
}